{% load app_filters %}
{% load i18n %}


<div class="row row-cols-1 row-cols-md-2 g-3">
    {% for player in item_players %}
        <div class="col" data-rating="{{ player.get_position_display|default:9999 }}">
            <div class="card h-100">
                <div class="card-body h-100 d-flex flex-column">
                    <div class="d-flex align-items-start">
                        <div class="me-3">
                            {{ player.player|user_avatar:"big"|safe }}
                        </div>
                        <div>
                            <h5 class="card-title mb-1">
                                {{ player.player|user_profile_link|safe }}
                            </h5>
                            <p class="card-text text-muted mb-1 fw-bold">
                                <i class="bi bi-person-badge"></i> {{ player.get_position_display }}
                            </p>
                            <p class="card-text text-muted small mb-1">
                                <i class="bi bi-people"></i> 
                                {% if player.player.current_club %}
                                    <a href="{% url 'club' id=player.player.current_club.pk %}">{{ player.player.current_club.short_name }}</a>
                                {% else %}
                                    <span class="badge bg-danger">{% trans "No club" %}</span>
                                {% endif %} {{ player.player.country|country_icon|safe }}
                            </p>
                        </div>
                    </div>

                    <hr class="my-2" />
        
                    <div class="row mt-2">
                        <div class="col-4">
                            {{ player.player|licence_number|safe }}
                        </div>
                        <div class="col-4">
                            {{ player.player|gender|safe }}
                        </div>
                        <div class="col-4">
                            {{ player.player|player_age_category|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $('[data-bs-toggle="tooltip"]').tooltip();

        function sortCardsInTeam() {
            let $cardsContainer = $('.row.row-cols-1');
            let $cards = $cardsContainer.children('.col').detach().get();

            $cards.sort(function(a, b) {
                let ratingA = parseInt($(a).attr('data-rating'), 10) || 9999;
                let ratingB = parseInt($(b).attr('data-rating'), 10) || 9999;
                return ratingA - ratingB;
            });

            $cardsContainer.append($cards);
        }

        sortCardsInTeam();
    });
</script>
