{% load app_filters %}

<nav class="nav flex-column p-3 rounded">
    <h5 class="fw-bold">Національні збірні</h5>
    <div class="nav nav-pills flex-column" id="nationalTeamsTabs" role="tablist">
        {% for item in items %}
            <a class="force-follow-link nav-link {% if item.pk == active_item.pk %}active{% endif %}" 
               href="{% url 'national_teams' team_id=item.pk %}" 
               role="tab">
                {{ item.name }}
            </a>
        {% endfor %}
    </div>
</nav>
