APP_CREDENTIALS='{
    "env": "dev",
    "git_commit": "",
    "debug": true,
    "secret_key": "",
    "domains": ["localhost"],
    "csrf_origins": ["localhost"],
    "language": "uk",
    "country": "UA",
    "db_host": "",
    "db_name": "",
    "db_user": "",
    "db_pass": "",
    "db_port": "",
    "s3_key": "",
    "s3_secret": "",
    "s3_bucket": "",
    "s3_region": "",
    "s3_host": "",
    "s3_backups_folder": "",
    "smtp_host": "email-smtp.eu-central-1.amazonaws.com",
    "smtp_port": "587",
    "smtp_use_tls": true,
    "smtp_user": "",
    "smtp_password": "",
    "smtp_from_email": "info@petanque.org.ua",
    "smtp_from_name": "Petanque in Ukraine",
    "federation_telegram_link": "https://t.me/andrewkamenev",
    "recaptcha_public_key": "",
    "recaptcha_private_key": "",
    "api_password": "",
    "fider_jwt_secret": ""
}'
