APP_CREDENTIALS='{
    "env": "dev",
    "git_commit": "",
    "app_debug": true,
    "app_domain": "portal.petanque.org.loc",
    "app_language": "uk",
    "app_country": "UA",
    "app_s3_key": "",
    "app_s3_secret": "",
    "app_s3_bucket": "",
    "app_s3_region": "",
    "app_s3_host": "s3.eu-central-1.amazonaws.com",
    "app_s3_backups_folder": "",
    "app_recaptcha_public_key": "",
    "app_recaptcha_private_key": ""
}'