{% extends "common/page_base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
        <section class="p-4 rounded shadow text-center">
            <h5 class="pb-2 border-bottom fw-bold">Посилання недійсне</h5>
            <p class="mt-3">
                {% if error_message %}
                    {{ error_message }}
                {% else %}
                    Посилання недійсне або протерміноване.
                {% endif %}
            </p>
            <a class="btn btn-primary" href="{% url 'email_prompt' %}">Надіслати нове посилання</a>
        </section>
    </div>
</div>
{% endblock %}
