{% load static i18n %}
<div class="mb-3">
    <div class="d-flex flex-column align-items-center">
        {% if field.value %}
            <img src="{{ field.value.url }}?{{ field.value.instance.updated_at|date:'U' }}" class="img-thumbnail avatar mb-2" style="width: 150px; height: 150px; object-fit: cover;"/>
        {% else %}
            <img src="{% static 'default.png' %}" class="img-thumbnail avatar mb-2" style="width: 150px; height: 150px; object-fit: cover;"/>
        {% endif %}
    </div>

    <label class="form-label mt-2">{% trans "Choose a new photo" %}</label>
    <input class="form-control" type="file" name="{{ field.name }}" id="{{ field.id_for_label }}">
    {% if field.errors %}
        <div class="text-danger mt-1">{{ field.errors }}</div>
    {% endif %}
</div>
