{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}
    {% get_current_language as CURRENT_LANGUAGE %}
    <div class="container py-4">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <section class="p-3 rounded shadow">
                    <div id="calendar"></div>
                </section>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            var initialLocaleCode = '{{ CURRENT_LANGUAGE|default:"uk" }}';

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: initialLocaleCode,
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                },
                buttonText: {
                    today: "{% trans "Today" %}",
                    month: "{% trans "Month" %}",
                    week: "{% trans "Week" %}",
                    day: "{% trans "Day" %}",
                    list: "{% trans "List" %}"
                },
                navLinks: true, // Клики по неделям и дням
                eventLimit: true, // "Еще X событий"
                events: function(fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: "{% url 'api_tournaments_list' %}",
                        data: {
                            start: fetchInfo.startStr,
                            end: fetchInfo.endStr
                        },
                        dataType: 'json',
                        success: function(events) {
                            successCallback(events);
                        },
                        error: function() {
                            failureCallback();
                        }
                    });
                }
            });

            calendar.render();
        });
    </script>

{% endblock %}
