{% load app_filters %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover table-sm" id="{{ table_id }}">
        <thead>
            <tr>
                <th style="width: 10%;" class="text-start">{% trans "Date" %}</th>
                <th style="width: 40%;" class="text-start">{% trans "Name" %}</th>
                <th style="width: 20%;" class="text-start">{% trans "Team" %}</th>
                <th style="width: 10%;" class="text-start">{% trans "Place" %}</th>
                <th style="width: 10%;" class="text-start">{% trans "Power" %}</th>
                <th style="width: 10%;" class="text-start">{% trans "Points" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr class="{{ item|is_tournament_in_player_rating:player|safe }}">
                    <td class="text-start">
                        <span class="badge bg-secondary">
                            <i class="bi bi-calendar"></i> {{ item.start_date|date:"Y-m-d" }}
                        </span>
                    </td>
                    <td class="text-start">
                        <a href="{% url 'tournament' id=item.pk %}">{{ item.name }}</a>
                    </td>
                    <td class="text-start">
                        <span class="btn btn-sm btn-light fw-bold text-truncate d-inline-block">{{ item|team_short_name_in_tournament:player|safe }}</span>
                    </td>
                    <td data-order="{{ item|team_min_place_in_tournament:player|safe }}" class="text-start">
                        {{ item|team_place_in_tournament:player|safe }} /
                        <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Number of teams" %}">
                            {{ item|teams_count }}
                        </span>
                    </td>
                    <td data-order="{{ item|team_power_in_tournament:player|safe }}" class="text-start">
                        <span class="badge bg-info" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Team power" %}">
                            <i class="bi bi-lightning-charge"></i> {{ item|team_power_in_tournament:player|safe }}
                        </span>
                    </td>
                    <td data-order="{{ item|team_rating_points_in_tournament:player|safe }}" class="text-start">
                        <span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Points earned for the competition" %}">
                            {{ item|team_rating_points_in_tournament:player|safe }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('#{{ table_id }}').DataTable({
        columns: [
            { width: "10%", searchable: true, orderable: true },  // Дата
            { width: "35%", searchable: true, orderable: true },  // Назва
            { width: "20%", searchable: true, orderable: true },  // Команда
            { width: "15%", searchable: true, orderable: true, type: "num" },  // Місце
            { width: "10%", searchable: true, orderable: true, type: "num" },  // Сила
            { width: "10%", searchable: true, orderable: true, type: "num" }   // Бали
        ],
        autoWidth: false,
        order: [[0, '{{ initial_order }}']],
        lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "{% trans "All" %}"]],
        language: {
            lengthMenu: "{% trans "Show _MENU_ competitions per page" %}",
            zeroRecords: "{% trans "No competitions found" %}",
            info: "{% trans "Showing _START_ to _END_ of _TOTAL_ competitions" %}",
            infoEmpty: "{% trans "Showing 0 of 0 competitions" %}",
            infoFiltered: "{% trans "(filtered from _MAX_ competitions)" %}",
            search: "{% trans "Search" %}",
            paginate: {
                first: "{% trans "First" %}",
                last: "{% trans "Last" %}",
                next: "{% trans "Next" %}",
                previous: "{% trans "Previous" %}"
            }
        }
    });

    $('[data-bs-toggle="tooltip"]').tooltip();
});
</script>
