{% load app_filters %}

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm" id="{{ table_id }}">
        <thead>
            <tr>
                <th style="width: 10%;" class="text-start">Дата</th>
                <th style="width: 50%;" class="text-start">Назва</th>
                <th style="width: 25%;" class="text-start">Команда</th>
                <th style="width: 15%;" class="text-start">Сила</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td class="text-start">
                        <span class="badge bg-secondary">
                            <i class="bi bi-calendar"></i> {{ item.start_date|date:"Y-m-d" }}
                        </span>
                    </td>
                    <td class="text-start">
                        <a href="{% url 'tournament' id=item.pk %}">{{ item.name }}</a>
                    </td>
                    <td class="text-start">
                        <span class="btn btn-sm btn-light fw-bold text-truncate d-inline-block">
                            {{ item|team_short_name_in_tournament:player|safe }}
                        </span>
                    </td>
                    <td data-order="{{ item|team_power_in_tournament:player|safe }}" class="text-start">
                        <span class="badge bg-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Сила команди">
                            <i class="bi bi-lightning-charge"></i> {{ item|team_power_in_tournament:player|safe }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    $('#{{ table_id }}').DataTable({
        columns: [
            { width: "10%", searchable: true, orderable: true },  // Дата
            { width: "50%", searchable: true, orderable: true },  // Назва
            { width: "25%", searchable: true, orderable: true },  // Команда
            { width: "15%", searchable: true, orderable: true, type: "num" }   // Сила
        ],
        autoWidth: false,
        order: [[0, '{{ initial_order }}']],
        lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Усіx"]],
        language: {
            lengthMenu: "Показати _MENU_ турнірів на сторінку",
            zeroRecords: "Турнірів не знайдено",
            info: "Показано _START_ - _END_ з _TOTAL_ турнірів",
            infoEmpty: "Показано 0 з 0 турнірів",
            infoFiltered: "(відфільтровано з _MAX_ турнірів)",
            search: "Пошук",
            paginate: {
                first: "Початок",
                last: "Кінець",
                next: "Далі",
                previous: "Назад"
            }
        }
    });

    $('[data-bs-toggle="tooltip"]').tooltip();
});
</script>
