{% load app_filters %}

<div class="table-responsive">
    <table class="table table-hover table-condensed table-striped" id="{{ table_id }}">
        <thead>
            <tr>
                <th width="10%" align="left">Дата</th>
                <th width="45%" align="left">Назва</th>
                <th width="20%" align="left">Команда</th>
                <th width="10%" align="left">Місце</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
					<tr>
                        <td align="left">{{ item.start_date|date:"Y-m-d" }}</td>
                        <td align="left">
                            <a href="{% url 'tournament' id=item.pk %}"><b>{{ item.name }}</b></a>
                        </td>
                        <td align="left">{{ item|team_short_name_in_tournament:player|safe }}</td>
						<td data-order="{{ item|team_min_place_in_tournament:player|safe }}" align="left">
                            {{ item|team_place_in_tournament:player|safe }}/
                            <span class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Кількість команд">
                               {{ item|teams_count }}
                            </span>
                        </td>
					</tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
        $('#{{ table_id }}').dataTable({
               'aoColumns': [
		            { sWidth: "10%", bSearchable: true, bSortable: true }, //date
		            { sWidth: "40%", bSearchable: true,  bSortable: true }, //name
		            { sWidth: "20%", bSearchable: true, bSortable: true }, // team
		            { sWidth: "10%", bSearchable: true, bSortable: true, sType: "numbercase" }, //place
		       ],
		       "autoWidth": false,
		       "order": [[ 0, '{{ initial_order }}' ]],
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Усіx"]],
                "oLanguage": {
                        "sLengthMenu":   "Показати _MENU_ турнірів на сторінку",
                        "sZeroRecords":  "Турнірів не знайдено",
                        "sInfo":         "Показано _START_ - _END_ з _TOTAL_ турнірів",
                        "sInfoEmpty":    "Показано 0 з 0 турнірів",
                        "sInfoFiltered": "(відфільтровано з _MAX_ турнірів)",
                        "search":        "Пошук",
                        "paginate": {
                            "first":      "Перший",
                            "last":       "Останій",
                            "next":       "Наступий",
                            "previous":   "Попередій"
                        },
                },
        });
});
</script>