{% include "common/head.html" %}

{% load app_filters %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Турнір: {{ tournament.name }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-striped" id="{{ table_id }}">
                            <thead>
                                <tr>
                                    <th width="5%" align="left">#</th>
                                    <th width="5%" align="left">Місце</th>
                                    <th width="15%" align="left">Назва</th>
                                    <th width="5%" align="left">Пункти</th>
                                    <th width="50%" align="left">Гравці</th>
                                    <th width="10%" align="left">Дата</th>
                                    <th width="10%" align="left">Сила</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                        <tr>
                                            <td data-order="{{ forloop.counter }}" align="left">
                                                {{ forloop.counter }}
                                            </td>
                                            <td data-order="{{ team.place_min }}" align="left">
                                                {{ team|team_place_in_tournament|safe }}
                                            </td>
                                            <td align="left">
                                                {{ team.team|team_short_name|safe }}
                                            </td>
                                            <td data-order="{{ team.rating_points }}" align="left">
                                                <span class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Пункти отримані за турнір">
                                                    {{ team.rating_points }}
                                                </span>
                                            </td>
                                            <td align="left">
                                                {% for player in team.team.players.all %}
                                                    <a href="{% url 'player' id=player.pk %}" class="btn btn-xs btn-info" role="button">
                                                        {{ player|user_profile_link:False|safe }}
                                                    </a>
                                                    <a class="btn btn-xs btn-primary" role="button">{{ player.country|country_flag|safe }}</a>
                                                {% endfor %}
                                            </td>
                                            <td align="left">
                                                <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Дата реєстрації">
                                                    <span class="glyphicon glyphicon-calendar"></span> {{ team.date_registration|date:"Y-m-d" }}
                                                </button>
                                            </td>
                                            <td data-order="{{ team.power }}" align="left">
                                                <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-html="true" data-placement="top" title="" data-original-title="Сила команди">
                                                    <span class="glyphicon glyphicon-sort"></span> {{ team.power }}
                                                </button>
                                            </td>
                                        </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "common/foot.html" %}