{% load app_filters %}

<div class="col-md-5">
    <section class="p-3 rounded shadow">
        <h5 class="pb-2 border-bottom">
            Організатори, делегати та арбітри
        </h5>
        <div class="delegats_container">
            <div class="row g-3">
                {% if tournament.main_organizer %}
                    <div class="col-md-4 delegat text-center">
                        {{ tournament.main_organizer|user_avatar:"big"|safe }}
                        <div class="sentence-line-break mt-2">
                            <span class="badge bg-secondary fw-bold">Головний організатор</span>
                            <p class="font-weight-normal">
                                {{ tournament.main_organizer|user_profile_link|safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if tournament.federation_delegat %}
                    <div class="col-md-4 delegat text-center">
                        {{ tournament.federation_delegat|user_avatar:"big"|safe }}
                        <div class="sentence-line-break mt-2">
                            <span class="badge bg-secondary fw-bold">Делегат ФПУ</span>
                            <p class="font-weight-normal">
                                {{ tournament.federation_delegat|user_profile_link|safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% for arbiter in arbiters %}
                    <div class="col-md-4 delegat text-center">
                        {{ arbiter.arbiter|user_avatar:"big"|safe }}
                        <div class="sentence-line-break mt-2">
                            <span class="badge bg-secondary fw-bold">
                                {% if arbiter.is_main_arbiter %}
                                    Головний арбітр
                                {% else %}
                                    Арбітр
                                {% endif %}
                            </span>
                            <p class="font-weight-normal">
                                {{ arbiter.arbiter|user_profile_link|safe }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
