{% include "common/head.html" %}

{% load app_filters %}
{% load static %}
{% load i18n %}

<style>
    body {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .row {
        margin-bottom: 15px;
    }
    .container {
        max-width: 900px !important;
    }
    .table {
        margin-bottom: 0px !important;
    }
    .center {
        text-align: center;
    }
    .bordered {
        border: 0px solid #f5f5f5;
    }
    .grey_bg {
        background: #f5f5f5;
    }
    .with_padding {
        padding: 15px;
    }
    .table_head {
        width: 20%;
    }
    .logo {
        float: left;
        width: 35px;
    }
    .sign_placeholder {
        height: 100px;
    }
    .pagebreak {
        page-break-before: always;
    }
</style>

<div class="container">
    <div style="margin-bottom: 0px;" class="row bordered center">
        <img src="{% static 'fpu-logo-small.png' %}" class="logo" />
        <h4>{% trans "Ukrainian Petanque Federation" %}</h4>
    </div>
    <div style="margin-bottom: 0px;" class="row bordered center">
        <h3>{% trans "Final competition protocol" %}</h3>
    </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <td class="table_head active">{% trans "Competition name" %}</td>
                <td><b>{{ tournament.name }}</b></td>
            </tr>
            <tr>
                <td class="active">{% trans "Competition type" %}</td>
                <td>
                    {% trans "Athletes per team" %}:
                    <b>{% if tournament.number_of_players_in_team_min == tournament.number_of_players_in_team_max %}
                        {{ tournament.number_of_players_in_team_min }}
                    {% else %}
                        {% trans "from" %} {{ tournament.number_of_players_in_team_min }} {% trans "to" %} {{ tournament.number_of_players_in_team_max }}
                    {% endif %}</b>
                </td>
            </tr>
            <tr>
                <td class="active">{% trans "Start date" %}</td>
                <td>
                    {{ tournament.start_date }} {{ tournament.start_time }}
                </td>
            </tr>
            <tr>
                <td class="active">{% trans "End date" %}</td>
                <td>
                    {% if tournament.end_date %}
                        {{ tournament.end_date }}
                    {% else %}
                        {{ tournament.start_date }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="active">{% trans "Organizer" %}</td>
                <td>
                    {% if tournament.organizer_club %}
                        <b>{{ tournament.organizer_club.name }}</b>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="active">{% trans "Venue" %}</td>
                <td><b>{{ tournament.place }}</b></td>
            </tr>
        </table>
    </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <th style="width:33%;" class="active">{% trans "Role" %}</th>
                <th class="active">{% trans "Name" %}</th>
            </tr>
            {% if tournament.main_organizer %}
            <tr>
                <td>{% trans "Head organizer" %}</td>
                <td>{{ tournament.main_organizer|user_profile_link:False|safe }}</td>
            </tr>
            {% endif %}
            {% if tournament.federation_delegat %}
            <tr>
                <td>{% trans "UPF delegate" %}</td>
                <td>{{ tournament.federation_delegat|user_profile_link:False|safe }}</td>
            </tr>
            {% endif %}
            {% for arbiter in arbiters %}
            <tr>
                <td>
                    {% if arbiter.is_main_arbiter %}
                        {% trans "Head arbiter" %}
                    {% else %}
                        {% trans "Arbiter" %}
                    {% endif %}
                </td>
                <td>{{ arbiter.arbiter|user_profile_link:False|safe }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <td style="width:33%" class="active">{% trans "Total number of teams" %}</td>
                <td><b>{{ teams_count }}</b></td>
            </tr>
            <tr>
                <td class="active">{% trans "Total number of athletes" %}</td>
                <td><b>{{ players_count }}</b></td>
            </tr>
        </table>
    </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <th colspan="2" class="active center">{% trans "Competition results" %}</th>
            </tr>
            <tr>
                <th class="active">{% trans "Place" %}</th>
                <th class="active">{% trans "Team (athletes)" %}</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td>
                    {{ team.place_min }}
                    {% if team.place_max %}
                        - {{ team.place_max }}
                    {% endif %}
                </td>
                <td>
                    {% for player in team.team.players.all %}
                        {{ player|user_profile_link:False|safe }},
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="active center">
                    <b>{% trans "Attention! The full results list must be attached to the protocol. The list is available at:" %}</b><br /> {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{% url 'tournament_teams_export' id=tournament.pk %}?format=html
                </td>
            </tr>
        </table>
    </div>
    <div class="pagebreak"> </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <th class="active center">{% trans "Notes and remarks" %}</th>
            </tr>
            <tr>
                <td><i>{% trans "Notes about disciplinary and game remarks, disqualifications, injuries, and other incidents." %}</i></td>
            </tr>
            <tr>
                <td style="padding-bottom: 300px;">
                    {% if tournament.final_notes %}
                        {{ tournament.final_notes|safe }}
                    {% else %}
                        {% trans "None." %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="row bordered">
        <table class="table">
            <tr>
                <th colspan="4" class="active center">{% trans "Signatures" %}</th>
            </tr>
            <tr>
                <th style="width:25%" class="active center">{% trans "Protocol processor" %}</th>
                <th style="width:25%" class="active center">{% trans "Head organizer" %}</th>
                <th style="width:25%" class="active center">{% trans "Head arbiter" %}</th>
                <th style="width:25%" class="active center">{% trans "UPF delegate" %}</th>
            </tr>
            <tr>
                <td class="sign_placeholder"></td>
                <td class="sign_placeholder"></td>
                <td class="sign_placeholder"></td>
                <td class="sign_placeholder"></td>
            </tr>
            <tr>
                <td class="center">{% trans "date, signature" %}</td>
                <td class="center">{% trans "date, signature" %}</td>
                <td class="center">{% trans "date, signature" %}</td>
                <td class="center">{% trans "date, signature" %}</td>
            </tr>
        </table>
    </div>
</div>
