{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}
    <div class="row">
        {% include "tournaments/tournament_summary.html" with tournament=tournament %}
        {% include "tournaments/tournament_delegations.html" with tournament=tournament arbiters=arbiters %}
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-primary">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#tournament_teams" aria-controls="tournament_teams" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-star"></span>&nbsp;Команди
                        </a>
                    </li>
                    {{ tournament|tournament_registration_tab|safe }}
                    <li role="presentation">
                        <a href="#tournament_comments" aria-controls="tournament_comments" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-align-left"></span>&nbsp;Коментарі <span class="badge badge-primary"><span class="fb-comments-count" data-href="http://{{ request.get_host }}{% url 'tournament' id=tournament.pk %}"></span></span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-circle-arrow-down"></span> Експорт <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">До SportSoftware</li>
                            <li><a class="force-link" href="{% url 'tournament_teams_export' id=tournament.pk %}?format=csv">  <span class="glyphicon glyphicon-floppy-disk"></span> Команди</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">До друку</li>
                            <li><a class="force-link" target="_blank" href="{% url 'tournament_teams_export' id=tournament.pk %}?format=html"><span class="glyphicon glyphicon-print"></span> Команди</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tournament_teams">
                    {% include "tournaments/tournament_teams.html" with tournament=tournament teams=teams table_id="tournament_teams_table" %}
                </div>
                <div role="tabpanel" class="tab-pane" id="tournament_comments">
                    <div class="panel-body">
                        <div class="fb-comments" data-href="http://{{ request.get_host }}{% url 'tournament' id=tournament.pk %}" data-numposts="7" data-width="100%" data-order-by="reverse_time"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}