{% load app_filters %}

<div class="table-responsive">
    <table class="table table-hover table-condensed table-striped" id="{{ table_id }}">
        <thead>
            <tr>
                <th width="5%" align="left">Місце</th>
                <th width="15%" align="left">Назва</th>
                <th width="5%" align="left">Пункти</th>
                <th width="50%" align="left">Гравці</th>
                <th width="12%" align="left">Дата</th>
                <th width="10%" align="left">Сила</th>
                <th width="3%" align="left">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
					<tr>
                        <td data-order="{{ team.place_min }}" align="left">
                            {{ team|team_place_in_tournament|safe }}
                        </td>
                        <td align="left">
                            {{ team.team|team_short_name|safe }}
                        </td>
                        <td data-order="{{ team.rating_points }}" align="left">
                            <span class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="" data-original-title="Пункти отримані за турнір">
                                {{ team.rating_points }}
                            </span>
                        </td>
                        <td align="left">
                            {% for player in team.team.players.all %}
                                <a href="{% url 'player' id=player.pk %}" class="btn btn-xs btn-info" role="button">
                                    {{ player|user_profile_link:False|safe }}
                                </a>
                                <a class="btn btn-xs btn-primary" role="button">{{ player.country|country_flag|safe }}</a>
                            {% endfor %}
                        </td>
                        <td align="left">
                            <button class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Дата реєстрації">
                                <span class="glyphicon glyphicon-calendar"></span> {{ team.date_registration|date:"Y-m-d" }}
                            </button>
                        </td>
						<td data-order="{{ team.power }}" align="left">
                            <button class="btn btn-primary btn-xs" data-toggle="tooltip" data-html="true" data-placement="top" title="" data-original-title="Сила команди">
                                <span class="glyphicon glyphicon-sort"></span> {{ team.power }}
                            </button>
                        </td>
                        <td>
                            {% if team|is_user_has_admin_access_to_team:current_user %}
                            <form class="form-horizontal" method="post" action="" onsubmit="return confirm('Чи ви впевнені, що хочете видалити цю команду з турніру?');">
                                {% csrf_token %}
                                <input type="hidden" name="delete_team_id" value="{{ team.pk }}" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" style="display: block;width: 24px;height: 24px;" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Видалити команду">
                                           <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                        </td>
					</tr>

            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {

        $('#{{ table_id }}').dataTable({
               'aoColumns': [
		            { sWidth: "5%", bSearchable: true, bSortable: true, sType: "numbercase" }, //place
		            { sWidth: "15%", bSearchable: true,  bSortable: true }, //name
		            { sWidth: "5%", bSearchable: true, bSortable: true, sType: "numbercase" }, // points
		            { sWidth: "50%", bSearchable: true, bSortable: false }, //players
		            { sWidth: "12%", bSearchable: true, bSortable: true }, //date
		            { sWidth: "10%", bSearchable: true, bSortable: true, sType: "numbercase" }, //power
		            { sWidth: "3%", bSearchable: false, bSortable: false }, //actions
		       ],
		       "autoWidth": false,
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "Усіx"]],
                "oLanguage": {
                        "sLengthMenu":   "Показати _MENU_ команд на сторінку",
                        "sZeroRecords":  "Команд не знайдено",
                        "sInfo":         "Показано _START_ - _END_ з _TOTAL_ команд",
                        "sInfoEmpty":    "Показано 0 з 0 команд",
                        "sInfoFiltered": "(відфільтровано з _MAX_ команд)",
                        "search":        "Пошук",
                        "paginate": {
                            "first":      "Перша",
                            "last":       "Остання",
                            "next":       "Наступна",
                            "previous":   "Попередня"
                        },
                },
        });
});
</script>