{% load app_filters %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover" id="tournaments">
        <thead class="table-dark">
            <tr>
                <th class="text-start">{% trans "Date" %}</th>
                <th class="text-start">{% trans "Name" %}</th>
                <th class="text-start filterable">{% trans "Place" %}</th>
                <th class="text-start filterable">{% trans "Type" %}</th>
                <th class="text-start">{% trans "Power" %}</th>
                <th class="text-start filterable">{% trans "Organizer" %}</th>
                <th class="text-end no-sort">{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="{{ item|tournaments_css_classes }}">
                <td>
                    <div class="d-flex flex-wrap gap-1 justify-content-end">
                        <span class="badge bg-primary">
                            <i class="bi bi-calendar"></i> {{ item.start_date|date:"Y-m-d" }}
                        </span>
                        {{ item|tournament_registration|safe }}
                    </div>
                </td>
                <td>
                    <div class="tournament-name">
                        <a href="{% url 'tournament' id=item.pk %}"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           data-bs-title="{{ item.name }}">{{ item|tournament_display_name }}</a>
                    </div>
                </td>
                <td>
                    <a target="_blank" href="https://maps.google.com?q={{ item.place }}">
                        <i class="bi bi-globe"></i>
                    </a>
                    {{ item.place }}
                </td>
                <td>
                    {% if item.number_of_players_in_team_min == item.number_of_players_in_team_max %}
                        {% if item.number_of_players_in_team_min <= 3 %}
                            {% for i in "x"|rjust:item.number_of_players_in_team_min %}
                                <i class="bi bi-person"></i>
                            {% endfor %}
                        {% else %}
                            {{ item.number_of_players_in_team_min }} <i class="bi bi-person"></i>
                        {% endif %}
                    {% else %}
                        {{ item.number_of_players_in_team_min }}-{{ item.number_of_players_in_team_max }} <i class="bi bi-person"></i>
                    {% endif %}
                </td>
                <td data-order="{{ item.power }}">
                    <span class="badge bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Competition power" %}">
                        <i class="bi bi-bar-chart"></i> {{ item.power }}
                    </span>
                </td>
                <td>
                    {% if item.organizer_club %}
                        <i class="bi bi-people"></i> <a href="{% url 'club' id=item.organizer_club.pk %}">{{ item.organizer_club.short_name }}</a>, 
                    {% else %}
                        {% if item.country == settings.CURRENT_COUNTRY %}
                            <span class="badge bg-danger">{% trans "No club" %}</span>
                        {% endif %}
                    {% endif %}
                    {{ item.country|country_icon|safe }}
                </td>
                <td class="text-end">
                    <div class="d-flex flex-wrap gap-1 justify-content-end">
                        <a href="{% url 'tournament' id=item.pk %}">
                            <span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans "Number of teams" %}">
                                <i class="bi bi-people"></i> {{ item|teams_count }}
                            </span>
                        </a>
                        {{ item|tournament_status|safe }}
                        {{ item|tournament_protocol|safe }}
                        {{ item|tournament_registration_badge|safe }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function() {
    var table = $('#tournaments').DataTable({
        columnDefs: [
            { targets: 'no-sort', orderable: false },
            { targets: 0, width: "10%" }, // Дата
            { targets: 1, width: "35%" }, // Назва
            { targets: 2, width: "15%" }, // Місце
            { targets: 3, width: "8%" }, // Тип
            { targets: 4, width: "10%", type: "num" }, // Сила
            { targets: 5, width: "13%" }, // Організатор
            { targets: 6, width: "9%" }, // Дії
        ],
        autoWidth: false,
        paging: true,
        lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "{% trans "All" %}"]],
        order: [[0, '{{ initial_order }}']],
        language: {
            lengthMenu: "{% trans "Show _MENU_ competitions per page" %}",
            zeroRecords: "{% trans "No competitions found" %}",
            info: "{% trans "Showing _START_ to _END_ of _TOTAL_ competitions" %}",
            infoEmpty: "{% trans "Showing 0 of 0 competitions" %}",
            infoFiltered: "{% trans "(filtered from _MAX_ competitions)" %}",
            search: "{% trans "Search:" %}",
            "paginate": {
                "first":      "{% trans "First" %}",
                "last":       "{% trans "Last" %}",
                "next":       "{% trans "Next" %}",
                "previous":   "{% trans "Previous" %}"
            }
        }
    });

    // Фильтрация по select в footer
    $('#tournaments tfoot select').on('change', function() {
        let columnIndex = $(this).parent().index();
        let value = $(this).val();
        table.column(columnIndex).search(value).draw();
    });

    function initTooltips() {
        setTimeout(function () {
            $('[data-bs-toggle="tooltip"]').tooltip('dispose').tooltip().on('shown.bs.tooltip', function () {
                bootstrap.Tooltip.getInstance(this).update();
            });
        }, 300);
    }

    initTooltips();

    table.on('draw.dt', function () {
        initTooltips();
    });
});
</script>
