{% load app_filters %}
<div class="row g-4 align-items-top">
    <div class="col-lg-8">
        <ol class="list-group list-group-numbered">
        {% for item in items %}
            <li class="list-group-item">{{ item|user_profile_link|safe }}</li>
        {% endfor %}
        </ol>
    </div>
    <div class="col-lg-4 text-center">
        {% with items|first as first_player %}
            <div class="d-flex justify-content-center">
                {{ first_player|user_avatar:"big"|safe }}
            </div>
        {% endwith %}
    </div>
</div>
