{% load app_filters %}
{% load i18n %}

<section class="p-3 rounded shadow">
    <h5 class="pb-2 border-bottom">
        {% blocktrans %}Year: {{ year }}{% endblocktrans %}
    </h5>
    <div class="table-responsive">
        <table class="table table-hover table-striped" id="players">
            <thead class="table-dark">
                <tr>
                    <th class="text-start">{% trans "Ranking" %}</th>
                    <th class="text-start">{% trans "Points" %}</th>
                    <th class="text-start">{% trans "First name" %}</th>
                    <th class="text-start filterable">{% trans "Age category" %}</th>
                    <th class="text-start filterable">{% trans "Club" %}</th>
                    <th class="text-end no-sort">{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="filterable"><select class="form-select form-select-sm"><option value="">{% trans "All" %}</option></select></th>
                    <th class="filterable"><select class="form-select form-select-sm"><option value="">{% trans "All" %}</option></select></th>
                    <th>&nbsp;</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>
                            <span class="badge bg-primary" data-bs-toggle="tooltip" title="{% trans "Ranking place" %}">
                                {{ item|season_rating_position:rating_filters|safe }}
                            </span>
                        </td>
                        <td>
                            <span class="badge bg-success" data-bs-toggle="tooltip" title="{% trans "Rating points" %}">
                                {{ item|season_rating_points:rating_field|safe }}
                            </span>
                        </td>
                        <td>{{ item.player|user_profile_link|safe }}</td>
                        <td>{{ item.player|season_player_age_category:year|safe }}</td>
                        <td>
                            {% if item.club %}
                                <a href="{% url 'club' id=item.club.pk %}">{{ item.club.short_name }}</a>
                            {% else %}
                                <span class="badge bg-danger">{% trans "No club" %}</span>
                            {% endif %}
                        </td>
                        <td class="text-end">
                            <a href="{% url 'player' id=item.player.pk %}" class="badge bg-success" data-bs-toggle="tooltip" title="{% trans "Show athlete" %}">
                                <i class="bi bi-person"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready(function() {
        var table = $('#players').DataTable({
            responsive: true, 
            paging: true,
            lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "{% trans "All" %}"]],
            language: {
                lengthMenu: "{% trans "Show _MENU_ athletes per page" %}",
                zeroRecords: "{% trans "No athletes found" %}",
                info: "{% trans "Showing _START_ to _END_ of _TOTAL_ athletes" %}",
                infoEmpty: "{% trans "Showing 0 of 0 athletes" %}",
                infoFiltered: "{% trans "(filtered from _MAX_ athletes)" %}",
                search: "{% trans "Search:" %}",
                paginate: {
                    first: "{% trans "First" %}",
                    last: "{% trans "Last" %}",
                    next: "{% trans "Next" %}",
                    previous: "{% trans "Previous" %}"
                }
            },
            columnDefs: [
                { targets: 'no-sort', orderable: false },
            ]
        });

        $('#players tfoot select').on('change', function() {
            let columnIndex = $(this).parent().index();
            let value = $(this).val();
            table.column(columnIndex).search(value).draw();
        });

        table.columns('.filterable').every(function() {
            let column = this;
            let select = $(column.footer()).find('select');

            column.data().unique().sort().each(function(d, j) {
                let tmp = document.createElement("DIV");
                tmp.innerHTML = d;
                let cleanValue = tmp.textContent || tmp.innerText || "";

                if (cleanValue) {
                    select.append(`<option value="${cleanValue}">${cleanValue}</option>`);
                }
            });
        });

        function initTooltips() {
            setTimeout(function () {
                $('[data-bs-toggle="tooltip"]').tooltip('dispose').tooltip().on('shown.bs.tooltip', function () {
                    bootstrap.Tooltip.getInstance(this).update();
                });
            }, 300);
        }

        initTooltips();

        table.on('draw.dt', function () {
            initTooltips();
        });        
    });
</script>
