{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        <nav class="nav-sidebar">
            <ul class="nav tabs">
                <li class="dropdown-header sidebar-chooser-header">Категорія</li>
            {% for coach in coaches %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}">
                    <a href="#tab_{{ coach.category_id }}" aria-controls="tab_{{ coach.category_id }}" role="tab" data-toggle="tab">
                        {{ coach.category_name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="col-sm-9">
        <!-- Tab panes -->
        <div class="tab-content">

            {% for coach in coaches %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_{{ coach.category_id }}">
                <table class="table table-hover table-condensed" id="table_{{ coach.category_id }}">
                    <thead>
                        <tr>
                            <th width="10%" align="left">&nbsp;</th>
                            <th width="30%" align="left">Ім'я</th>
                            <th width="15%" align="left">Ліцензія</th>
                            <th width="10%" align="left">Стать</th>
                            <th width="10%" align="left">Вік</th>
                            <th width="25%" align="left">Клуб</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for coach_player in coach.players %}
                        <tr>
                            <td align="center">{{ coach_player|user_avatar:"small"|safe }}</td>
                            <td align="left">{{ coach_player|user_profile_link|safe }}</td>
    						<td align="left">{{ coach_player|licence_number|safe }}</td>
                            <td align="left">{{ coach_player|gender|safe }}</td>
                            <td align="left">{{ coach_player|player_age_category|safe }}</td>
                            <td align="left">
                            {% if coach_player.current_club %}
                                <a href="{% url 'club' id=coach_player.current_club.pk %}">{{ coach_player.current_club.short_name }}</a>
                            {% else %}
                                <span class="btn btn-xs btn-danger">Без клубу</span>
                            {%endif%}
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}