{% extends "common/page_base.html" %}

{% load static %}

{% block content %}
<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Сторінку не знайдено</h1>
            <div class="mb-4">
                <a class="btn btn-success" href="/">Перейти на головну</a>
            </div>
            <h2 class="alert alert-warning" role="alert">{{ exception }}</h2>
            <img src="{% static '404.jpg' %}" class="img-fluid mb-4 w-50 mt-4" alt="404 Not Found">
        </div>
    </div>
</div>
{% endblock %}
