{% extends "common/page_base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <section class="p-4 rounded">
                <h5 class="pb-2 border-bottom text-center">Авторизація</h5>

                <div class="tab-content mt-3" id="authTabsContent">
                    <div class="tab-pane fade show active" id="login-form" role="tabpanel" aria-labelledby="login-tab">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% endif %}

                            <div class="mb-3">
                                <label for="username" class="form-label">Ім'я користувача</label>
                                <input type="text" name="username" id="username" class="form-control"
                                       placeholder="Введіть ім'я користувача">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="password" name="password" id="password"
                                       class="form-control" placeholder="Введіть пароль">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Увійти</button>
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'password_reset' %}">Забули пароль?</a>
                            </div>
                        </form>
                    </div>
                </div> <!-- /tab-content -->
            </section>
        </div>
    </div>
</div>

{% endblock %}
