{% extends "common/page_base.html" %}
{% load i18n %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <section class="p-4 rounded">
                <h5 class="pb-2 border-bottom text-center">{% trans "Authorization" %}</h5>

                <div class="tab-content mt-3" id="authTabsContent">
                    <div class="tab-pane fade show active" id="login-form" role="tabpanel" aria-labelledby="login-tab">
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {% if next %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            {% endif %}

                            <div class="mb-3">
                                <label for="username" class="form-label">{% trans "Username" %}</label>
                                <input type="text" name="username" id="username" class="form-control"
                                       placeholder="{% trans "Enter username" %}">
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">{% trans "Password" %}</label>
                                <input type="password" name="password" id="password"
                                       class="form-control" placeholder="{% trans "Enter password" %}">
                            </div>

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                            </div>
                            <div class="text-center mt-3">
                                <a href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
                                <span class="mx-2">|</span>
                                <a href="{% url 'register_player' %}">{% trans "Register" %}</a>
                            </div>
                        </form>
                    </div>
                </div> <!-- /tab-content -->
            </section>
        </div>
    </div>
</div>

{% endblock %}
