{% extends 'common/page_with_header.html' %}

{% block header %}
<div class="row">
    <div class="col-md-8">
        {% load bootstrap_carousel_tags %}
        {% render_carousel carousel %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Гравці</h2>
        {% include "main_page/players_list.html" with items=top_players %}
        <hr />
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Дорослі</h2>
        {% include "main_page/players_list.html" with items=top_players_senior %}
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Чоловіки</h2>
        {% include "main_page/players_list.html" with items=top_players_men %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Жінки</h2>
        {% include "main_page/players_list.html" with items=top_players_women %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Ветерани</h2>
        {% include "main_page/players_list.html" with items=top_players_veteran %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Espoir</h2>
        {% include "main_page/players_list.html" with items=top_players_espoir %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Юніори</h2>
        {% include "main_page/players_list.html" with items=top_players_junior %}
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-stats"></i> TOP Гравці "B"</h2>
        {% include "main_page/players_list.html" with items=top_players_b %}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Найближчі українські турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Найближчі закордонні турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Найближчі важливі турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Попередні українські турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Попередні закордонні турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2><i class="glyphicon glyphicon-calendar"></i> Попередні важливі турніри</h2>
        <ul>
            <li>Турнір 1</li>
        </ul>
    </div>
</div>
{% endblock content %}
