{% extends "common/page_base.html" %}
{% load app_filters %}
{% block content %}
<h2>Профіль гравця</h2>
<hr />
<form action="/profile/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-2 text-center">
            <img class="img-thumbnail avatar" src="{{ user|user_avatar }}" />
            <h6>Обрати нову фотографію</h6>
            <input type="file" accept="image/*" name="avatar" />
        </div>

        <div class="col-md-5 text-center">
            <div class="row">
                <div class="col-md-12 form-group">
                    Ім'я користувача: <b>{{ user.user.username }}</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" name="new_password" placeholder="Новий пароль" value="" data-toggle="tooltip" data-placement="top" title="Новий пароль" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Новий пароль ще раз" value="" data-toggle="tooltip" data-placement="top" title="Новий пароль ще раз" />
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="name" placeholder="Ім'я" value="{{ user.name|user_field }}" data-toggle="tooltip" data-placement="top" title="Ім'я" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="surname" placeholder="Прізвище" value="{{ user.surname|user_field }}" data-toggle="tooltip" data-placement="top" title="Прізвище" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <select data-toggle="tooltip" data-placement="top" title="Стать"  name="gender" class="form-control">
                        <option {% if user.gender == 'F' %} selected="selected" {% endif %} value="F">Жінка</option>
                        <option {% if user.gender == 'M' %} selected="selected" {% endif %} value="M">Чоловік</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="birth_date" placeholder="Дата народження (ДД.ММ.РРРР)" value="{{ user.birth_date|format_date }}" data-toggle="tooltip" data-placement="top" title="Дата народження (ДД.ММ.РРРР)" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="licence_number" placeholder="Номер ліцензії" value="{{ user.licence_number|user_field }}" data-toggle="tooltip" data-placement="top" title="Номер ліцензії" />
                </div>
            </div>

        </div>
        <div class="col-md-5 text-center">

            <div class="row">
                <div class="col-md-12 form-group">
                    <select data-toggle="tooltip" data-placement="top" title="Клуб"  name="club" class="form-control">
                        {%for club in clubs%}
                            <option {% if user.club == club %} selected="selected" {% endif %} value="{{ club.id }}">{{ club }}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 form-group">
                    <select data-toggle="tooltip" data-placement="top" title="Країна"  name="club" class="form-control">
                        {%for country in countries %}
                            <option {% if user.country == country %} selected="selected" {% endif %} value="{{ country }}">{{country.title}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="facebook" placeholder="Адреса в Facebook" value="{{ user.facebook|user_field }}" data-toggle="tooltip" data-placement="top" title="Адреса в Facebook" />
                </div>
            </div>
             <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="twitter" placeholder="Адреса в Twitter" value="{{ user.twitter|user_field }}" data-toggle="tooltip" data-placement="top" title="Адреса в Twitter" />
                </div>
            </div>
             <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="instagram" placeholder="Адреса в Instagram" value="{{ user.instagram|user_field }}" data-toggle="tooltip" data-placement="top" title="Адреса в Instagram" />
                </div>
            </div>
             <div class="row">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" name="website" placeholder="Власна інтернет-сторінка" value="{{ user.website|user_field }}" data-toggle="tooltip" data-placement="top" title="Власна інтернет-сторінка" />
                </div>
            </div>

            <hr />

             <div class="row">
                <div class="col-md-4 ">
                    Пункти за українські турніри: <br /><br /><div class="label label-default">{{ user.local_tournament_points }}</div>
                </div>
                <div class="col-md-4 ">
                    Пункти за зарубіжні турніри: <br /><br /><div class="label label-default">{{ user.foreign_tournament_points }}</div>
                </div>
                <div class="col-md-4 ">
                    Пункти за турніри B: <br /><br /><div class="label label-default">{{ user.b_tournament_points }}</div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-12 text-center form-group">
        <input type="submit" class="btn btn-success" value="Зберігти" />
    </div>
</form>
{% endblock %}