{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" id="profileTabs" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">
              {% trans "Profile" %}
          </button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="auth-tab" data-bs-toggle="tab" data-bs-target="#authorization_form" type="button" role="tab" aria-controls="authorization_form" aria-selected="false">
              {% trans "Authorization" %}
          </button>
      </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content profile mt-3">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% crispy profile_form %}
      </div>
      <div class="tab-pane fade" id="authorization_form" role="tabpanel" aria-labelledby="auth-tab">
        {% crispy authorization_profile_form %}
      </div>
  </div>
</div>

{% endblock %}
