boto
boto3
transliterate

Pillow
Django==5.1.6
psycopg2
django-countries
django-extensions
django-crispy-forms
crispy-bootstrap5
django-silk
django-simple-captcha

django-dbbackup
django-storages[boto3]
django-cors-headers
