{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}

<div class="row">
    <div class="col-sm-3">
        <nav class="nav-sidebar">
            <ul class="nav tabs">
                <li class="dropdown-header sidebar-chooser-header">{{ page_title }}</li>
            {% for department in departments %}
                <li role="presentation" class="{% if forloop.first %}active{% endif %}">
                    <a href="#tab_{{ department.pk }}" aria-controls="tab_{{ department.pk }}" role="tab" data-toggle="tab">
                        {{ department.name }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="col-sm-9">
        <!-- Tab panes -->
        <div class="tab-content">

            {% for department in departments %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="tab_{{ department.pk }}">

                <div class="row">
                    {% if department.notes|length > 0 %}

                    <div class="col-md-6">
                        <table class="table table-hover table-condensed" id="table_{{ arbiter.category_id }}">
                            <thead>
                                <tr>
                                    <th width="10%" align="left">&nbsp;</th>
                                    <th width="30%" align="left">Ім'я</th>
                                    <th width="15%" align="left">Роль</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in department.players.all %}
                                <tr>
                                    <td align="center">{{ member|user_avatar:"small"|safe }}</td>
                                    <td align="left">{{ member|user_profile_link|safe }}</td>
                                    <td align="left">{{ member|get_role_in_department:department|safe }}</td>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Нотатки</div>
                            <div class="panel-body">
                                {{ department.notes }}
                            </div>
                        </div>
                    </div>

                    {% else %}

                    <div class="col-md-12">
                        <table class="table table-hover table-condensed" id="table_{{ arbiter.category_id }}">
                            <thead>
                                <tr>
                                    <th width="10%" align="left">&nbsp;</th>
                                    <th width="30%" align="left">Ім'я</th>
                                    <th width="15%" align="left">Роль</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in department.players.all %}
                                <tr>
                                    <td align="center">{{ member|user_avatar:"small"|safe }}</td>
                                    <td align="left">{{ member|user_profile_link|safe }}</td>
                                    <td align="left">{{ member|get_role_in_department:department|safe }}</td>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}