{% load app_filters %}
{% load i18n %}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for item in items %}
    <div class="col">
        <div class="card">
            <div class="card-body d-flex flex-column align-items-start">
                <div class="row">
                    <div class="col-lg-9 card-title text-muted fw-bold">
                        <i class="bi bi-award"></i> {{ item.name }}
                    </div>
                    <div class="col-lg-3 card-title text-end fw-bold fs-5">
                        <i class="bi bi-star"></i> {{ item.description }}
                    </div>
                </div>
                {% if item.date_created %}
                    <div class="row mt-1">
                        <p class="col-lg-12 small text-muted">
                            <i class="bi bi-calendar"></i> {{ item.date_created|date:"d.m.Y" }}
                        </p>
                    </div>
                {% endif %}
                {% if item.notes %}
                    <div class="row mt-1">
                        <p class="col-lg-12 text-muted">
                            <i class="bi bi-info-circle"></i> {{ item.notes }}
                        </p>
                    </div>
                {% endif %}

                {% if item.player %}
                    <hr class="my-2" />
    
                    <!-- Player -->
                    <div class="d-flex align-items-center align-items-start">
                        <div class="me-3">
                            {{ item.player|user_avatar:"big"|safe }}
                        </div>
                        <div>
                            <h6><i class="bi bi-person-fill"></i> {{ item.player|user_profile_link|safe }}</h6>
                            <p class="card-text text-muted small">
                                <i class="bi bi-people"></i>
                                {% if item.player.current_club %}
                                    <a href="{% url 'club' id=item.player.current_club.pk %}">{{ item.player.current_club.short_name }}</a>
                                {% else %}
                                    <span class="badge bg-danger">{% trans "No club" %}</span>
                                {% endif %} {{ item.player.country|country_icon|safe }}
                            </p>
                        </div>
                    </div>
                {% endif %}

                {% if item.club %}
                    <hr class="my-2" />
    
                    <!-- Club -->
                    <div class="d-flex align-items-center align-items-start">
                        <div class="me-3">
                            {% if item.club|club_logo:"big"|safe %}
                                {{ item.club|club_logo:"big"|safe }}
                            {% else %}
                                <div class="d-flex align-items-center justify-content-center bg-light rounded-circle" style="width: 80px; height: 80px;">
                                    <i class="bi bi-building fs-2 text-secondary"></i>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <h6>
                                <i class="bi bi-people"></i> {% trans "Club" %}: <a href="{% url 'club' id=item.club.pk %}">{{ item.club.short_name }}</a>
                            </h6>
                            <p class="card-text text-muted small">
                                <a href="https://maps.google.com?q={{ item.address }}"><i class="bi bi-geo-alt"></i></a> {{ item.club.city }} {{ item.club.city.country|country_flag|safe }}
                            </p>
                        </div>
                    </div>
                
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
