{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <section class="p-3 rounded shadow">
                <h5 class="pb-2 border-bottom fw-bold">Реєстрація гравця</h5>
                <div class="card">
                    <div class="card-body">
                        {% crispy player_registration_form %}
                    </div>
                </div>
            </section>
        </div>
        
        <div class="col-lg-4">
            <section class="p-3 rounded shadow">
                <h5 class="pb-2 border-bottom fw-bold">Не можете знайти гравця? / Aren't you able to find your player?</h5>
                <div class="card">
                    <div class="card-body">
                        <h4 class="fw-bold">Зареєструвати гравця</h4>
                        <p class="text-danger fw-bold">
                            Велике прохання не додавати дублікатів або неіснуючих гравців. 
                            Спершу спробуйте знайти гравця, написавши його дані кирилицею та латиницею.
                        </p>
                        <h4 class="fw-bold">Register new player</h4>
                        <p class="text-danger fw-bold">
                            Please, do not add duplicated or non-existent players.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- jQuery UI Datepicker -->
    <script>
        $(document).ready(function() {
            $(".dateinput").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
{% endblock %}
