{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-7">
            <div class="panel panel-primary">
                <div class="panel-heading">Реєстрація команди</div>
                <div class="panel-body" style="min-height: auto;">
                    <div class="text-center">
                        <b>Турнір</b>: <a href="{% url 'tournament' id=tournament.pk %}">{{ tournament.name }}</a>
                    </div>

                    {% if is_registration_opened %}
                        {% crispy team_registration_form %}
                    {% else %}
                        <div class="text-center">
                            <hr />
                            <p>Реєстрацію на турнір закрито.</p>
                            <hr />
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="col-sm-5">
            {% include "tournaments/tournament_summary.html" with tournament=tournament full_width="true" %}
        </div>
    </div>

    <script>
    $( function() {
      $('.player-autocomplete').autocomplete( {
        source: function( request, response ) {
          $.ajax( {
            url: '{% url 'api_players_list' %}',
            data: { typedText: request.term },
            success: function( data ) {
              response( $.map( data, function( item ) {
                return { label: item.label, value: item.value }
              }));
            }
          });

        },
        minLength: 3,
        focus: function(event, ui) {
          $(event.target).val(ui.item.label);
          return false;
        },
        select: function(event, ui) {
           var el = $(event.target);
           var player_index = el.data('player_index');

           $('input[name="player_ids['+player_index+']"]').val(ui.item.value);
           el.val(ui.item.label);

           return false;
        },
      });
    });
    </script>
{% endblock %}