{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-7">
            <section class="p-3 rounded shadow">
                <h5 class="pb-2 border-bottom fw-bold">{% trans "Team registration" %}</h5>
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <b>{% trans "Competitions" %}</b>:
                            <a href="{% url 'tournament' id=tournament.pk %}">{{ tournament.name }}</a>
                        </div>

                        {% if is_registration_opened %}
                            {% crispy team_registration_form %}
                        {% else %}
                            <div class="text-center">
                                <p class="text-danger fw-bold">{% trans "Registration for this competition is closed." %}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-5">
            {% include "tournaments/tournament_summary.html" with tournament=tournament full_width="true" %}
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <section class="p-3 rounded shadow">
                <h5 class="pb-2 border-bottom fw-bold">{% trans "Cannot find a player?" %}</h5>
                <div class="card">
                    <div class="card-body">
                        <h4 class="fw-bold">{% trans "Register player" %}</h4>
                        <p>{% url 'register_player' as register_player_url %}{% blocktrans %}Not all athletes may appear in search results. If you cannot find an athlete, <a target="_blank" href="{{ register_player_url }}" class="btn btn-sm btn-success">add them to the portal</a>.{% endblocktrans %}</p>
                        <p class="text-danger fw-bold">
                            {% trans "Please do not add duplicate or non-existent players. First, try searching for the player using both Cyrillic and Latin spelling." %}
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Подключение select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script>
    $(document).ready(function() {
      const select2LettersOne = "{% trans "character" %}";
      const select2LettersFew = "{% trans "characters" %}";
      const select2LettersMany = "{% trans "characters" %}";

      $('.player-autocomplete').select2({
        ajax: {
            url: '{% url 'api_players_list' %}',
            dataType: 'json'
        },
        language: {
          inputTooShort: function (args) {
            var remainingChars = args.minimum - args.input.length;
            return "{% trans "Please enter" %} " + remainingChars + " {% trans "or more characters" %}";
          },
          inputTooLong: function (args) {
            var overChars = args.input.length - args.maximum;
            return "{% trans "Please delete" %} " + overChars + ' ' +
            ending(args.maximum, select2LettersOne, select2LettersFew, select2LettersMany);
          },
          noResults: function () {
            return "{% trans "No athletes found. Enter a first or last name." %}";
          },
          searching: function () {
            return "{% trans "Searching..." %}";
          }
        }
      });
    });
    </script>
{% endblock %}
