{% extends "poll/base.html" %}

{% load i18n %}

{% block poll_script %}
<script type="text/javascript">
var vote_url = '{% url "poll_ajax_vote" poll.pk %}';
var result_url = '{% url "poll_result" poll.pk %}';
document.addEventListener('DOMContentLoaded', function(){
    function showResults() {
        location.reload();
    }
    $("#poll_send").click(function() {
        var item = $('#poll_form input[name=item]:checked').val();
        if (typeof item === "undefined") {
            alert("{% trans 'Будь ласка, оберіть варіант' %}");
            return false;
        }
        $.get(vote_url, {item: item}, function() {
            showResults();
        });
        return false;
    });
});
</script>
{% endblock %}

{% block poll_content %}
<div class="poll_style">
    <form method="GET" action="." id="poll_form">
        <h1 class="title">{{ poll.title }}</h1>
        <ul>
            {% for i in items %}
            <li><input type="radio" name="item" id="item_{{ i.id }}" value="{{ i.id }}" />
                <label for="item_{{ i.id }}">{{ i.value }}</label></li>
            {% endfor %}
        </ul>
        <p class="poll_send">
            <input name="button" value="Проголосувати" class="btn btn-primary btn btn-success" id="poll_send" />
        </p>
    </form>
</div>
{% endblock %}