{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="row">
    <div class="col-lg-2">
        <nav class="nav nav-pills flex-column bg-light p-2 rounded">
            <a href="{% url 'statistics' %}" class="force-follow-link nav-link {% if 'None' == active_period %}active{% endif %}">
                Загальна
            </a>
            {% for period in periods %}
                <a href="{% url 'statistics' year=period.year %}" class="force-follow-link nav-link {% if period.year == active_period %}active{% endif %}">
                    {{ period.title }}
                </a>
            {% endfor %}
        </nav>
    </div>

    <!-- Основной контент -->
    <div class="col-lg-10">
        <h3>Статистика порталу Федерації петанку України</h3>
        <h5>Загальна кількість турнірів за обраний період: <span class="badge bg-primary">{{ tournaments_all|length }}</span></h5>

        <div class="row">
            <!-- Статистика по странам -->
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header fw-bold">Країни</div>
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Країна</th>
                                    <th>Турнірів</th>
                                    <th>Команд</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for country in tournaments_data.countries %}
                                    <tr>
                                        <td>{{ country.country|country_icon|safe }}</td>
                                        <td>{{ country.count }}</td>
                                        <td>{{ country.teams }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <ul class="list-group mb-3">
                    <li class="list-group-item">
                        Найбільший турнір (гравців): <br />
                        <a href="{% url 'tournament' id=tournaments_data.ua_biggest_tournament_players.pk %}">{{ tournaments_data.ua_biggest_tournament_players.name }}</a>
                    </li>
                    <li class="list-group-item">
                        Найбільша кількість гравців: <span class="badge bg-primary">{{ tournaments_data.ua_biggest_tournament_players_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Найбільший турнір (команд): <br />
                        <a href="{% url 'tournament' id=tournaments_data.ua_biggest_tournament.pk %}">{{ tournaments_data.ua_biggest_tournament.name }}</a>
                    </li>
                    <li class="list-group-item">
                        Найбільша кількість команд: <span class="badge bg-primary">{{ tournaments_data.ua_biggest_tournament|teams_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Середня кількість команд: <span class="badge bg-primary">{{ tournaments_data.ua_avg_teams_count }}</span>
                    </li>
                    <li class="list-group-item">
                        Середня кількість гравців: <span class="badge bg-primary">{{ tournaments_data.ua_avg_players_count }}</span>
                    </li>
                </ul>
            </div>

            <!-- Крупные турниры -->
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header fw-bold">Клуби</div>
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Клуб</th>
                                    <th>Турнірів</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for club in tournaments_data.clubs %}
                                    <tr>
                                        <td><a href="{% url 'club' id=club.club.pk %}">{{ club.club.short_name }}</a></td>
                                        <td>{{ club.count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header fw-bold">Організатори</div>
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Організатор</th>
                                    <th>Турнірів</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for organizer in tournaments_data.organizers %}
                                    <tr>
                                        <td>{{ organizer.player|user_profile_link|safe }}</td>
                                        <td>{{ organizer.count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Дисциплины -->
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-header fw-bold">Дисципліни (Україна)</div>
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Дисципліна</th>
                                    <th>Турнірів</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for players_count, count in tournaments_data.ua_disciplines.items %}
                                    <tr>
                                        <td>
                                            {% if players_count <= 3 %}
                                                {% for i in "x"|rjust:players_count %}
                                                    <i class="bi bi-person"></i>
                                                {% endfor %}
                                            {% else %}
                                                {{ players_count }} <i class="bi bi-person"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header fw-bold">Місця проведення (Україна)</div>
                    <div class="card-body p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Місце</th>
                                    <th>Турнірів</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for place, count in tournaments_data.ua_places.items %}
                                    <tr>
                                        <td>{{ place }}</td>
                                        <td>{{ count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
