{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="row">
    <div class="col-lg-2">
        <nav class="nav nav-pills flex-column p-2 rounded">
            <a href="{% url 'statistics' %}" class="force-follow-link nav-link {% if 'None' == active_period %}active{% endif %}">
                {% trans "Overall" %}
            </a>
            {% for period in periods %}
                <a href="{% url 'statistics' year=period.year %}" class="force-follow-link nav-link {% if period.year == active_period %}active{% endif %}">
                    {{ period.title }}
                </a>
            {% endfor %}
        </nav>
    </div>

    <div class="col-lg-10">
        <h3>{% trans "Ukrainian Petanque Federation portal statistics" %}</h3>
        <h5>{% trans "Total competitions for the selected period" %}: <span class="badge bg-primary">{{ tournaments_all|length }}</span></h5>

        <div class="row">
            <!-- Країни -->
            <div class="col-lg-4">
                <section class="p-3 rounded shadow">
                    <h5 class="pb-2 border-bottom">{% trans "Countries" %}</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Country" %}</th>
                                <th>{% trans "Competitions" %}</th>
                                <th>{% trans "Teams" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for country in tournaments_data.countries %}
                                <tr>
                                    <td>{{ country.country|country_icon|safe }}</td>
                                    <td>{{ country.count }}</td>
                                    <td>{{ country.teams }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

                <section class="mt-3">
                    <h5 class="pb-2 border-bottom">{% trans "Largest competitions" %}</h5>
                    <ul class="list-group mb-3">
                        <li class="list-group-item">
                            {% trans "Largest competition by athletes" %}: <br />
                            <a href="{% url 'tournament' id=tournaments_data.ua_biggest_tournament_players.pk %}">{{ tournaments_data.ua_biggest_tournament_players|tournament_display_name }}</a>
                        </li>
                        <li class="list-group-item">
                            {% trans "Largest number of athletes" %}: <span class="badge bg-primary">{{ tournaments_data.ua_biggest_tournament_players_count }}</span>
                        </li>
                        <li class="list-group-item">
                            {% trans "Largest competition by teams" %}: <br />
                            <a href="{% url 'tournament' id=tournaments_data.ua_biggest_tournament.pk %}">{{ tournaments_data.ua_biggest_tournament|tournament_display_name }}</a>
                        </li>
                        <li class="list-group-item">
                            {% trans "Largest number of teams" %}: <span class="badge bg-primary">{{ tournaments_data.ua_biggest_tournament|teams_count }}</span>
                        </li>
                        <li class="list-group-item">
                            {% trans "Average number of teams" %}: <span class="badge bg-primary">{{ tournaments_data.ua_avg_teams_count }}</span>
                        </li>
                        <li class="list-group-item">
                            {% trans "Average number of athletes" %}: <span class="badge bg-primary">{{ tournaments_data.ua_avg_players_count }}</span>
                        </li>
                    </ul>
                </section>
            </div>

            <!-- Клуби та Організатори -->
            <div class="col-lg-4">
                <section class="p-3 rounded shadow">
                    <h5 class="pb-2 border-bottom">{% trans "Clubs" %}</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Club" %}</th>
                                <th>{% trans "Competitions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for club in tournaments_data.clubs %}
                                <tr>
                                    <td><a href="{% url 'club' id=club.club.pk %}">{{ club.club.short_name }}</a></td>
                                    <td>{{ club.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

                <section class="p-3 rounded shadow mt-3">
                    <h5 class="pb-2 border-bottom">{% trans "Organizers" %}</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Organizer" %}</th>
                                <th>{% trans "Competitions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for organizer in tournaments_data.organizers %}
                                <tr>
                                    <td>{{ organizer.player|user_profile_link|safe }}</td>
                                    <td>{{ organizer.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>

            <!-- Дисципліни та Місця проведення -->
            <div class="col-lg-4">
                <section class="p-3 rounded shadow">
                    <h5 class="pb-2 border-bottom">{% trans "Disciplines (Ukraine)" %}</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Discipline" %}</th>
                                <th>{% trans "Competitions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for players_count, count in tournaments_data.ua_disciplines.items %}
                                <tr>
                                    <td>
                                        {% if players_count <= 3 %}
                                            {% for i in "x"|rjust:players_count %}
                                                <i class="bi bi-person"></i>
                                            {% endfor %}
                                        {% else %}
                                            {{ players_count }} <i class="bi bi-person"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>

                <section class="p-3 rounded shadow mt-3">
                    <h5 class="pb-2 border-bottom">{% trans "Venues (Ukraine)" %}</h5>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{% trans "Venue" %}</th>
                                <th>{% trans "Competitions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for place, count in tournaments_data.ua_places.items %}
                                <tr>
                                    <td>{{ place }}</td>
                                    <td>{{ count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
