<div class="portal-footer mt-auto">
    <div class="container">
        <footer class="footer px-3 py-1">
            <div class="portal-footer-inner d-flex justify-content-between">
                <p class="mb-0">
                    <a target="_blank" href="http://petanque.org.ua/">Федерація Петанку України</a> &copy; {% now "Y" %}.
                </p>
                <p class="mb-0">
                    Розробка: <a href="http://andrey-voloshko.org.ua/" target="_blank">Андрiй Волошко</a>
                </p>
            </div>
        </footer>
    </div>
</div>
{% include "common/foot.html" %}
