<hr>
<div class="container">
    <footer class="footer p-3">
        <div class="d-flex justify-content-between">
            <p class="mb-0">
                <a target="_blank" href="http://petanque.org.ua/">Федерація Петанку України</a> &copy; {% now "Y" %}. 
                Розробка: <a href="http://andrey-voloshko.org.ua/" target="_blank">Андрiй Волошко</a>
            </p>
            <p class="mb-0">
                Інтерфейс: <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
            </p>
        </div>
    </footer>
</div>
{% include "common/foot.html" %}
