{% load i18n %}
{% include "common/head.html" %}
{% include "common/menu.html" %}

{% if not request.COOKIES.gdpr_agree %}
<div id="gdpr_warning" class="cookie-consent" role="alert">
    <p class="cookie-consent-text">
        {% trans "This website may use your personal information and cookies to function effectively. Do you agree?" %}
    </p>
    <div class="cookie-consent-actions">
        <button id="gdpr-yes" class="cookie-consent-button cookie-consent-accept">
            <i class="bi bi-check-circle"></i> {% trans "Yes, I agree" %}
        </button>
        <button id="gdpr-no" class="cookie-consent-button cookie-consent-decline">
            <i class="bi bi-x-circle"></i> {% trans "No, I do not agree. I want to leave this site" %}
        </button>
    </div>
</div>

<script>
$(function() {
    $('#gdpr-yes').click(function() {
        var date = new Date();
        date.setFullYear(date.getFullYear() + 10);
        document.cookie = 'gdpr_agree=1; path=/; expires=' + date.toUTCString();
        $('#gdpr_warning').fadeOut().remove();
    });

    $('#gdpr-no').click(function() {
        window.location.href = "https://www.google.com"; // или другая страница выхода
    });
});
</script>
{% endif %}
