{% include "common/head.html" %}
{% include "common/menu.html" %}

{% if not request.COOKIES.gdpr_agree %}
<div id="gdpr_warning" class="alert alert-warning" role="alert">
    Цей веб-ресурс може використовувати вашу персональну інформацію та файли cookie для того, щоб фунцкіонувати ефективно. Чи погоджуєтеся ви з цим?
    <br />
    This website may use your personal information and cookies to give you best experience. Are you agree?
    <br />
    <button id="gdpr-yes" class="btn btn-xs btn-success">Так, згоден / Yes, I agree</button>
    <button id="gdpr-no" class="btn btn-xs btn-danger">Ні, не згоден. Я хочу покинути цей сайт / No, I don't agree and want to leave.</button>
</div>

<script>
$( function() {
    $('#gdpr-yes').click(function() {
        var date = new Date();
        date.setFullYear(date.getFullYear() + 10);
        document.cookie = 'gdpr_agree=1; path=/; expires=' + date.toGMTString();
        $('#gdpr_warning').hide();
    });

    $('#gdpr-no').click(function() {
        window.history.back();
    });
});
</script>
{% endif  %}