<html>
    <head>

        <title>Портал | Федерація Петанку України</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Портал Федерації Петанку України. Інформація про клуби, гравців та турніри.">

        <!-- Favicons -->
        <link rel="shortcut icon" href="/application/static/favicon.ico">
        <link rel="apple-touch-icon" href="/application/static/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="/application/static/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="/application/static/favicon.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//getbootstrap.com/dist/css/bootstrap.min.css" />

        <!-- Custom Scripts -->
        <link rel="stylesheet" href="/application/static/style.css" />

    </head>
    <body>