{% load staticfiles %}
<html>
    <head>

        <title>Портал | Федерація Петанку України</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Портал Федерації Петанку України. Інформація про клуби, гравців та турніри.">

        <!-- Favicons -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="/application/static/favicon.ico">
        <link rel="apple-touch-icon" sizes="72x72" href="/application/static/favicon.ico">
        <link rel="apple-touch-icon" sizes="114x114" href="/application/static/favicon.ico">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//js.nicdn.de/bootstrap/formhelpers/docs/assets/css/bootstrap-formhelpers-countries.flags.css" />

        <!-- Custom Scripts -->
        <link rel="stylesheet" href="{% static 'style.css' %}" />


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="//getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="/application/static/scripts.js"></script>

        <!-- DataTables -->
        <link rel="stylesheet" href="/application/static/dataTables.bootstrap.css" />
        <script src="/application/static/jquery.dataTables.js"></script>
        <script src="/application/static/dataTables.bootstrap.js"></script>

    </head>
    <body>