{% load staticfiles %}
<html>
    <head>

        <title>Портал | Федерація Петанку України</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Портал Федерації Петанку України. Інформація про клуби, гравців та турніри.">

        <!-- Favicons -->
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon.ico' %}">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//js.nicdn.de/bootstrap/formhelpers/docs/assets/css/bootstrap-formhelpers-countries.flags.css" />

        <!-- Custom Scripts -->
        <link rel="stylesheet" href="{% static 'style.css' %}" />


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="//getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="{% static 'scripts.js' %}"></script>

        <!-- DataTables -->
        <link rel="stylesheet" href="{% static 'dataTables.bootstrap.css' %}" />
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css" />

        <script src="{% static 'jquery.dataTables.js' %}"></script>
        <script src="{% static 'dataTables.bootstrap.js' %}"></script>

        <!-- Calendar -->
        <script src="{% static 'calendar_moment.min.js' %}"></script>
        <script src="{% static 'calendar_full_calendar.min.js' %}"></script>
        <script src="{% static 'calendar_full_calendar_locale.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'calendar_full_calendar.min.css' %}" />
        <link rel="stylesheet" media="print" href="{% static 'calendar_full_calendar_print.min.css' %}" />

        <!-- DataTable data fixes -->
        <script>
            $(document).ready(function () {
                var fuzzyNum = function(x) {
                    return x.replace(/[^\d\.\-]/g,"");
                };

                jQuery.fn.dataTableExt.oSort['numbercase-asc'] = function(x, y){
                    return fuzzyNum(x)- fuzzyNum(y);
                };

                jQuery.fn.dataTableExt.oSort['numbercase-desc'] = function(x, y){
                    return fuzzyNum(y)- fuzzyNum(x);
                };
            });
        </script>
    </head>
    <body>