{% extends "common/page_base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
        <section class="p-4 rounded shadow text-center">
            <h5 class="pb-2 border-bottom fw-bold">{% trans "Password changed" %}</h5>
            <p class="mt-3">{% trans "Your password has been changed successfully." %}</p>
            <a class="btn btn-primary" href="{% url 'login' %}">{% trans "Log in" %}</a>
        </section>
    </div>
</div>
{% endblock %}
