{% extends "common/page_base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
        <section class="p-4 rounded shadow">
            <h5 class="pb-2 border-bottom fw-bold">Новий пароль</h5>

            {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Зберегти новий пароль</button>
            </form>
            {% else %}
            <div class="alert alert-warning">
                Посилання для відновлення паролю недійсне або протерміноване.
            </div>
            <a class="btn btn-primary" href="{% url 'password_reset' %}">Запитати нове посилання</a>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
