{% extends "common/page_base.html" %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
        <section class="p-4 rounded shadow">
            <h5 class="pb-2 border-bottom fw-bold">{% trans "New password" %}</h5>

            {% if validlink %}
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">{% trans "Save new password" %}</button>
            </form>
            {% else %}
            <div class="alert alert-warning">
                {% trans "The password reset link is invalid or expired." %}
            </div>
            <a class="btn btn-primary" href="{% url 'password_reset' %}">{% trans "Request a new link" %}</a>
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
