{% load i18n %}
<!doctype html>
{% get_current_language as CURRENT_LANGUAGE %}
<html lang="{{ CURRENT_LANGUAGE }}">
<body>
    <p>{% blocktrans with username=user.username %}Hello, {{ username }}!{% endblocktrans %}</p>
    <p>{% trans "To reset your password, follow this link:" %}</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</a></p>
    <p>{% trans "The link is valid for 24 hours." %}</p>
</body>
</html>
