{% extends "admin/base_site.html" %}
{% load i18n l10n %}

{% block content %}
<div class="delete-confirmation">
    <form action="" method="post">{% csrf_token %}
        <p>{{ message|safe }}</p>

        <ul>{{ queryset|unordered_list }}</ul>

        <div>
        {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
        {% endfor %}
        <input type="hidden" name="action" value="{{ action }}" />
        <input type="hidden" name="post" value="yes" />

        <input type="submit" value="{% trans 'Yes, confirm' %}" />
        <a href="javascript:history.back();" class="button cancel-link">{% trans "No, go back" %}</a>
        </div>
    </form>
</div>
{% endblock %}
