{% load app_filters %}

<div class="col-lg-4">
    <div class="card">
        {% if page_title != 'No title' %}
            <div class="card-header fw-bold">
                {% if page_title %}
                    {{ page_title }}
                {% else %}
                    {{ item|user_profile_link:False|safe }}
                {% endif %}
            </div>
        {% endif %}
        <div class="card-body">
            <div class="row align-items-start">
                <div class="col-md-4 text-center">
                    <div class="mb-2">
                        {{ item|user_avatar:"big"|safe }}
                    </div>
                    <div class="sentence-line-break">
                        {{ item|user_profile_link|safe }}
                    </div>
                </div>

                <div class="col-md-8">
                    {% if item.licence_number %}
                    <dl class="row">
                        <dt class="col-5 fw-bold">Ліцензія</dt>
                        <dd class="col-7">{{ item|licence_number|safe }}</dd>
                    </dl>
                    {% endif %}
                    <dl class="row">
                        <dt class="col-5 fw-bold">Стать</dt>
                        <dd class="col-7">{{ item|gender|safe }}</dd>

                        <dt class="col-5 fw-bold">Вік</dt>
                        <dd class="col-7">{{ item|player_age_category|safe }}</dd>

                        {% if item.current_club %}
                        <dt class="col-5 fw-bold">Клуб</dt>
                        <dd class="col-7">
                            <a href="{% url 'club' id=item.current_club.pk %}">{{ item.current_club.short_name }}</a>
                        </dd>
                        {% endif %}

                        <dt class="col-5 fw-bold">Країна</dt>
                        <dd class="col-7">{{ item.country|country_icon|safe }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
