{% load app_filters %}

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row col-sm-12">
            <div class="col-lg-6">
                {{ item|player_national_teams|safe }}
            </div>
            <div class="col-lg-6">
                {{ item|coach_label|safe }}
            </div>
            <div class="col-lg-6">
                {{ item|arbiter_label|safe }}
            </div>
            <div class="col-lg-6">
                {{ item|player_records|safe }}
            </div>
            <div class="col-lg-6">
                {{ item|player_sport_title_label|safe }}
            </div>
        </div>
    </div>
</div>