{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}
    <div class="row">
        {% include "players/player_info_panel.html" with item=player %}
        {% trans "Club" as club_title %}
        {% include "clubs/club_short_info_panel.html" with item=player.current_club page_title=club_title %}
    </div>
    <div class="clearfix pt-4"></div>

    <div class="row">
        <div class="col-12">
            <section class="p-3 rounded shadow">
                <h5 class="pb-2 border-bottom fw-bold">{% trans "Athlete information" %}</h5>
                
                <ul class="nav nav-pills mb-3" id="playerTabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active"
                                id="player-tournaments-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#player_tournaments"
                                type="button"
                                role="tab"
                                aria-controls="player_tournaments"
                                aria-selected="true">
                            <i class="bi bi-list"></i> {% trans "Competitions" %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link"
                                id="player-ratings-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#player_ratings"
                                type="button"
                                role="tab"
                                aria-controls="player_ratings"
                                aria-selected="false">
                            <i class="bi bi-star"></i> {% trans "Additional information" %}
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="playerTabsContent">
                    <div class="tab-pane fade show active" id="player_tournaments" role="tabpanel" aria-labelledby="player-tournaments-tab">
                        <section class="p-3 rounded shadow">
                            <ul class="nav nav-pills mb-3" id="tournamentTabs" role="tablist">
                                <li class="nav-item">
                                    <button class="nav-link active"
                                            id="player-past-tournaments-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#player_past_tournaments"
                                            type="button"
                                            role="tab"
                                            aria-controls="player_past_tournaments"
                                            aria-selected="true">
                                        <i class="bi bi-check2-circle"></i> {% trans "Ukrainian" %}
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link"
                                            id="player-away-tournaments-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#player_away_tournaments"
                                            type="button"
                                            role="tab"
                                            aria-controls="player_away_tournaments"
                                            aria-selected="false">
                                        <i class="bi bi-airplane"></i> {% trans "International" %}
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link"
                                            id="player-future-tournaments-tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#player_future_tournaments"
                                            type="button"
                                            role="tab"
                                            aria-controls="player_future_tournaments"
                                            aria-selected="false">
                                        <i class="bi bi-hourglass"></i> {% trans "Upcoming" %}
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content" id="tournamentTabsContent">
                                <div class="tab-pane fade show active"
                                     id="player_past_tournaments"
                                     role="tabpanel"
                                     aria-labelledby="player-past-tournaments-tab">
                                    {% include "tournaments/player_past_tournaments.html" with items=past_tournaments player=player table_id="player_past_tournaments_table" initial_order="desc" %}
                                </div>
                                <div class="tab-pane fade"
                                     id="player_away_tournaments"
                                     role="tabpanel"
                                     aria-labelledby="player-away-tournaments-tab">
                                    {% include "tournaments/player_past_away_tournaments.html" with items=past_away_tournaments player=player table_id="player_away_tournaments_table" initial_order="desc" %}
                                </div>
                                <div class="tab-pane fade"
                                     id="player_future_tournaments"
                                     role="tabpanel"
                                     aria-labelledby="player-future-tournaments-tab">
                                    {% include "tournaments/player_future_tournaments.html" with items=future_tournaments player=player table_id="player_future_tournaments_table" initial_order="asc" %}
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="tab-pane fade" id="player_ratings" role="tabpanel" aria-labelledby="player-ratings-tab">
                        <section class="p-3 rounded shadow">
                            {% include "players/player_statistic_and_records_info_panel.html" with item=player player_summary_info=player_summary_info %}
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
