{% load app_filters %}

<div class="col-sm-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {% if page_title %}
                {{ page_title }}
            {% else %}
                {{ item|user_profile_link:False|safe }}
            {% endif %}
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div align="center">
                            {{ item|user_avatar:"big"|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="row">
                        <div class="col-sm-4">Лiцензiя</div>
                        <div class="col-sm-8">{{ item|licence_number|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Стать</div>
                        <div class="col-sm-8">{{ item|gender|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Вік</div>
                        <div class="col-sm-8">{{ item|player_age_category|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Країна</div>
                        <div class="col-sm-8">{{ item.country|country_icon|safe }}</div>
                    </div>
                </div>

                <div class="col-sm-5">
                    {{ item|social_field:"website"|safe }}
                    {{ item|social_field:"facebook"|safe }}
                    {{ item|social_field:"instagram"|safe }}
                    {{ item|social_field:"twitter"|safe }}
                </div>

            </div>
        </div>
    </div>
</div>