{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}
    <div class="row">
        {% include "players/player_info_panel.html" with item=player %}
        {% include "clubs/club_short_info_panel.html" with item=player.current_club page_title="Клуб" %}
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-primary">
                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#player_ratings" aria-controls="player_ratings" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-star"></span>&nbsp;Профіль та рейтинги
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#player_tournaments" aria-controls="player_tournaments" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-list"></span>&nbsp;Турніри
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#player_seasons" aria-controls="player_seasons" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-align-left"></span>&nbsp;Сезони
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="player_ratings">
                    {% include "players/player_statistic_and_records_info_panel.html" with item=player player_summary_info=player_summary_info page_title="Профіль та цьогорічні рейтинги" %}
                </div>
                <div role="tabpanel" class="tab-pane" id="player_tournaments">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Турніри</div>
                        <div class="panel-body">

                            <div class="panel panel-primary">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills nav-justified" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#player_past_tournaments" aria-controls="player_past_tournaments" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-check"></span> Зіграні турніри
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#player_b_tournaments" aria-controls="player_b_tournaments" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-record"></span> Зіграні турніри "B"
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#player_away_tournaments" aria-controls="player_away_tournaments" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-plane"></span> Зіграні іноземні турніри
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#player_future_tournaments" aria-controls="player_future_tournaments" role="tab" data-toggle="tab">
                                            <span class="glyphicon glyphicon-calendar"></span> Майбутні турніри
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="player_past_tournaments">
                                    {% include "tournaments/player_past_tournaments.html" with items=past_tournaments player=player table_id="player_past_tournaments_table" initial_order="desc" %}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="player_b_tournaments">
                                    {% include "tournaments/player_past_tournaments.html" with items=past_b_tournaments player=player table_id="player_b_tournaments_table" initial_order="desc" %}
                                </div>
                               <div role="tabpanel" class="tab-pane" id="player_away_tournaments">
                                    {% include "tournaments/player_past_away_tournaments.html" with items=past_away_tournaments player=player table_id="player_away_tournaments_table" initial_order="desc" %}
                                </div>
                                <div role="tabpanel" class="tab-pane" id="player_future_tournaments">
                                    {% include "tournaments/player_future_tournaments.html" with items=future_tournaments player=player table_id="player_future_tournaments_table" initial_order="asc" %}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="player_seasons">
                    {% include "players/player_seasons.html" with player_seasons=player_seasons rating_field=season_rating_field page_title="Рейтинг за минулі сезони" %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}