{% load app_filters %}


<div class="table-responsive">
    <table class="table table-striped table-hover" id="players">
        <thead class="table-dark">
            <tr>
                <th class="text-start">Рейтинг</th>
                <th class="text-start">Бали</th>
                <th class="text-start">Сила</th>
                <th class="text-start">Ім'я</th>
                <th class="text-center filterable">Стать</th>
                <th class="text-center filterable">Вік</th>
                <th class="text-center">Ліцензія</th>
                <th class="text-start filterable">Клуб</th>
                <th class="text-end no-sort">Дії</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th> <!-- Рейтинг -->
                <th></th> <!-- Бали -->
                <th></th> <!-- Сила -->
                <th></th> <!-- Ім'я -->
                <th><select class="form-select form-select-sm"><option value="">Усі</option></select></th> <!-- Стать -->
                <th><select class="form-select form-select-sm"><option value="">Усі</option></select></th> <!-- Вік -->
                <th></th> <!-- Ліцензія -->
                <th><select class="form-select form-select-sm"><option value="">Усі</option></select></th> <!-- Клуб -->
                <th></th> <!-- Дії -->
            </tr>
        </tfoot>
        <tbody>
            {% for item in items %}
                <tr class="{{ item|is_active_player_class }}">
                    <td class="text-start">
                        <span class="badge bg-success">
                            {{ item|rating_position:rating_filters|safe }}
                        </span>
                    </td>
                    <td class="text-start">
                        <span class="badge bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Рейтингові пункти">
                            {{ item|rating_points:rating_field|safe }}
                        </span>
                    </td>
                    <td class="text-start">
                        <span class="badge bg-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Рейтингова сила">
                            {{ item|rating_power:rating_power_field|safe }}
                        </span>
                    </td>
                    <td class="text-start">{{ item|user_profile_link|safe }}</td>
                    <td class="text-center">{{ item|gender|safe }}</td>
                    <td class="text-center">{{ item|player_age_category|safe }}</td>
                    <td class="text-center">{{ item|licence_number|safe }}</td>
                    <td class="text-start">
                        {% if item.current_club %}
                            <a href="{% url 'club' id=item.current_club.pk %}">{{ item.current_club.short_name }}</a>
                        {% else %}
                            <span class="badge bg-danger">Без клубу</span>
                        {% endif %}
                    </td>
                    <td class="text-end">
                        <a href="{% url 'player' id=item.pk %}" class="badge bg-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Показати гравця">
                            <i class="bi bi-person"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<script>
    $(document).ready(function() {
        var table = $('#players').DataTable({
            responsive: true, 
            paging: true,
            lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "Усіx"]],
            language: {
                lengthMenu: "Показати _MENU_ гравців на сторінку",
                zeroRecords: "Гравців не знайдено",
                info: "Показано _START_ - _END_ з _TOTAL_ гравців",
                infoEmpty: "Показано 0 з 0 гравців",
                infoFiltered: "(відфільтровано з _MAX_ гравців)",
                search: "Пошук:",
                paginate: {
                    first: "Початок",
                    last: "Кінець",
                    next: "Далі",
                    previous: "Назад"
                }
            },
            columnDefs: [
                { targets: 'no-sort', orderable: false },
            ]
        });
    
        $('#players tfoot select').on('change', function() {
            let columnIndex = $(this).parent().index();
            let value = $(this).val();
            table.column(columnIndex).search(value).draw();
        });
    
        table.columns('.filterable').every(function() {
            let column = this;
            let select = $(column.footer()).find('select');
    
            column.data().unique().sort().each(function(d, j) {
                let tmp = document.createElement("DIV");
                tmp.innerHTML = d;
                let cleanValue = tmp.textContent || tmp.innerText || "";
    
                if (cleanValue) {
                    select.append(`<option value="${cleanValue}">${cleanValue}</option>`);
                }
            });
        });
    
        function initTooltips() {
            setTimeout(function () {
                $('[data-bs-toggle="tooltip"]').tooltip('dispose').tooltip().on('shown.bs.tooltip', function () {
                    bootstrap.Tooltip.getInstance(this).update();
                });
            }, 300);
        }

        initTooltips();

        table.on('draw.dt', function () {
            initTooltips();
        });        
    });
</script>
    
    
