{% extends "common/page_base.html" %}
{% load app_filters %}
{% load i18n %}

{% block content %}
    <div class="row">
        {% include "clubs/club_info_panel.html" with item=club %}
        {% trans "President" as president_title %}
        {% include "players/player_short_info_panel.html" with item=club.president page_title=president_title %}
    </div>
    <div class="clearfix pt-4"></div>
    {% trans "Athletes" as athletes_title %}
    {% include "common/table_page.html" with page_title=athletes_title table_template="players/players_cards.html" items=players %}

{% endblock %}
