{% load app_filters %}
{% load i18n %}

<div class="table-responsive">
    <table class="table table-hover table-striped table-sm" id="players">
        <thead>
            <tr>
                <th class="text-center"></th>
                <th class="text-start">{% trans "Points" %}</th>
                <th class="text-start">{% trans "Average" %}</th>
                <th class="text-start">{% trans "Name" %}</th>
                <th class="text-start">{% trans "City" %}</th>
                <th class="text-start">{% trans "Year founded" %}</th>
                <th class="text-start">{% trans "President" %}</th>
                <th class="text-start">{% trans "Athlete count" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td class="text-center">
                        {{ item|club_logo:""|safe }}
                    </td>
                    <td class="text-start">
                        <span class="badge bg-success" data-bs-toggle="tooltip" title="{% trans "Total rating points in the club" %}">
                            <i class="bi bi-trophy"></i> {{ item|get_club_rating_points }}
                        </span>
                    </td>
                    <td class="text-start">
                        <span class="badge bg-primary" data-bs-toggle="tooltip" title="{% trans "Average points per athlete" %}">
                            <i class="bi bi-graph-up"></i> {{ item|get_club_avg_rating_points }}
                        </span>
                    </td>
                    <td class="text-start">
                        <a href="{% url 'club' id=item.pk %}">{{ item.short_name }}</a>
                    </td>
                    <td class="text-start">
                        <a target="_blank" href="https://maps.google.com?q={{ item.address }}">
                            <i class="bi bi-geo-alt"></i>
                        </a> 
                        {{ item.city }} {{ item.city.country|country_flag|safe }}
                    </td>
                    <td class="text-start">
                        <span class="badge bg-warning" data-bs-toggle="tooltip" title="{% trans "Year founded" %}">
                            <i class="bi bi-calendar"></i> {{ item.date_created|get_year }} {% trans "yr." %}
                        </span>
                    </td>
                    <td class="text-start">
                        {{ item.president|user_profile_link|safe }}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'club' id=item.pk %}">
                            <span class="badge bg-info" data-bs-toggle="tooltip" title="{% trans "Number of athletes" %}">
                                <i class="bi bi-people"></i> {{ item|get_number_of_players }}
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function() {
        $('#players').DataTable({
            columns: [
                { width: "5%", searchable: false, orderable: true }, // logo
                { width: "10%", searchable: true, orderable: true }, // points
                { width: "10%", searchable: true, orderable: true }, // avg points
                { width: "20%", searchable: true, orderable: true }, // name
                { width: "20%", searchable: true, orderable: true }, // city
                { width: "10%", searchable: true, orderable: true }, // year
                { width: "20%", searchable: true, orderable: true }, // president name
                { width: "5%", searchable: true, orderable: false }  // number of players
            ],
            autoWidth: false,
            order: [[1, "desc"]],
            lengthMenu: [[25, 50, 100, -1], [25, 50, 100, "{% trans "All" %}"]],
            language: {
                lengthMenu: "{% trans "Show _MENU_ clubs per page" %}",
                zeroRecords: "{% trans "No clubs found" %}",
                info: "{% trans "Showing _START_ to _END_ of _TOTAL_ clubs" %}",
                infoEmpty: "{% trans "Showing 0 of 0 clubs" %}",
                infoFiltered: "{% trans "(filtered from _MAX_ clubs)" %}",
                search: "{% trans "Search" %}",
                paginate: {
                    first: "{% trans "First" %}",
                    last: "{% trans "Last" %}",
                    next: "{% trans "Next" %}",
                    previous: "{% trans "Previous" %}"
                }
            }
        });
        
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>
