{% load app_filters %}

<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{ item.name }}
        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-sm-3">{{ item|club_logo:"big"|safe }}</div>

                <div class="col-sm-3">
                    <div class="row">
                        <div align="center">
                            {{ item.president|user_avatar:"big"|safe }}
                        </div>
                    </div>
                    <div class="row">
                        <div align="center" class="sentence-line-break">
                            {{ item.president|user_profile_link|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">Назва</div>
                        <div class="col-sm-8"><strong>{{ item.short_name }}</strong></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Місто</div>
                        <div class="col-sm-8">{{ item.city }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Країна</div>
                        <div class="col-sm-8">{{ item.city.country|country_icon|safe }}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Заснування</div>
                        <div class="col-sm-8">{{ item.date_created|get_year }} р.</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Спортсменів</div>
                        <div class="col-sm-8">
                            <a href="{% url 'club' id=item.pk %}">{{ item|get_number_of_players }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>